.heading {
  font-family: var(--ff-heading);
  font-weight: 700;
  line-height: 1.2;
}

.heading > span,
.heading > .highlight-break {
  display: block;
  color: var(--clr-primary-600);
}

/* Fixed minimum value below the minimum breakpoint */
.page-heading {
  font-size: 2.688rem;
}

.section-heading {
  font-size: 1.8rem;
}

.sub-heading {
  font-size: 1.3rem;
}

/* Fluid value from 360px to 1920px viewport width */
@media screen and (min-width: 360px) {
  .page-heading {
    font-size: calc(2.688rem + 52.992 * ((100vw - 360px) / (1920 - 360)));
  }

  .section-heading {
    font-size: calc(1.8rem + 35.2 * ((100vw - 360px) / (1920 - 360)));
  }

  .sub-heading {
    font-size: calc(1.3rem + 19.2 * ((100vw - 360px) / (1920 - 360)));
  }
}

/* Fixed maximum value above the maximum breakpoint */
@media screen and (min-width: 1920px) {
  .page-heading {
    font-size: 6rem;
  }

  .section-heading {
    font-size: 4rem;
  }

  .sub-heading {
    font-size: 2.5rem;
  }
}
