.social-media[class*="social-media--"] {
  flex: 0 1 auto;
  position: relative;
  z-index: 10000;
}

.social-media--vertical > .social-media__list {
  flex-direction: column;
}

.social-media--horizontal > .social-media__list {
  flex-direction: row;
}

.social-media__list {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-media__list > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
